@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


<a asp-controller="Home"  asp-action="Index">Anasayfa</a> &nbsp;
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Anasayfa</a> &nbsp;
<a asp-area="Uretim" asp-controller="Home" asp-action="Index">Üretim Anasayfa</a>