
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Home</h2>

<a asp-controller="Home" asp-action="Index">Anasayfa</a> &nbsp;
<a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Anasayfa</a> &nbsp;
<a asp-area="Uretim" asp-controller="Home" asp-action="Index">Üretim Anasayfa</a>

